<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ForecastDb" connectionString="server=localhost;port=3306;database=Forecast;uid=forecast;password=forecast1234" />
  </connectionStrings>
  <appSettings>
    <add key="GismeteoUrl" value="https://www.gismeteo.ru/" />
  </appSettings>
</configuration>